Project Files/AmazingCharts/Client/Service References/PatientsService/PatientsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AllPatientsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Patients" nillable="true" type="tns:ArrayOfPatientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllPatientsDto" nillable="true" type="tns:AllPatientsDto" />
  <xs:complexType name="ArrayOfPatientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientDto" nillable="true" type="tns:PatientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientDto" nillable="true" type="tns:ArrayOfPatientDto" />
  <xs:complexType name="PatientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDto" nillable="true" type="tns:PatientDto" />
</xs:schema>