Project Files/AmazingCharts/Client/Service References/PatientsService/PatientsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PatientsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/PatientsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/PatientsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/PatientsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPatientsService_GetAllPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatients" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_GetAllPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_GetPatientByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByID" />
  </wsdl:message>
  <wsdl:message name="IPatientsService_GetPatientByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IPatientsService">
    <wsdl:operation name="GetAllPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientsService/GetAllPatients" message="tns:IPatientsService_GetAllPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientsService/GetAllPatientsResponse" message="tns:IPatientsService_GetAllPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPatientsService/GetPatientByID" message="tns:IPatientsService_GetPatientByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPatientsService/GetPatientByIDResponse" message="tns:IPatientsService_GetPatientByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPatientsService" type="tns:IPatientsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPatients">
      <soap:operation soapAction="http://tempuri.org/IPatientsService/GetAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByID">
      <soap:operation soapAction="http://tempuri.org/IPatientsService/GetPatientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientsService">
    <wsdl:port name="BasicHttpBinding_IPatientsService" binding="tns:BasicHttpBinding_IPatientsService">
      <soap:address location="http://localhost:8000/PatientsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>